<footer class="text-center text-white bg-dark py-5">
  <div class="container">
    <div class="row text-center justify-content-center ">
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#hero" class="text-white">سەرەتا</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#marketing" class="text-white">دەربارە</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#testimonials" class="text-white">بەشی ڕستە</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#test" class="text-white">بەشی فایل</a>
        </h6>
      </div>
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#pricing" class="text-white">ستاف</a>
        </h6>
      </div>
     
    </div>
    <hr />
    <div class="row justify-content-center py-5">
      <div class="col-lg-8">
        <p class="text-center text-white" style="width:auto; height:auto;">
          ئەم ماڵپەڕە بەکاریەت بۆ دیاریکردن و جیاکردنەوەی ڕستەی ئەرێنی و نەرێنی لە ڕێگەی ژیری دەستکردەوە ، بەهیوانی گەیاندی سوودێک و دەوڵەماند کردنی زیاتری زمانی کوردی.
        </p>
      </div>
    </div>

  
    
    <div class="row justify-content-center py-3" style="direction:ltr;text-align:center;">
      <div class="col-lg-12" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright: Ezo Group
        <a class="text-white" href=""></a>
      </div>
    </div>
  </div>
</footer>