<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- Custom Css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{  url_for('static',filename='styles/design.css') }}"
    />

    <!-- Ionic icons -->
    <link
      href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="icon"
      href="{{ url_for('static', filename='images/logo.ico') }}"
    />

    <title>Kurdish-Sentiment-Analysis</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  </head>

  <body>
    {% include 'nav.html' %}

    <main>
      <section id="hero" class="section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <div class="background-animation">
                <img
                  style="height: auto; width: auto"
                  class="img-fluid align-self-center"
                  src="{{ url_for('static', filename='images/comm.jpg') }}"
                  alt="Animated Image"
                />
              </div>
            </div>
            <div class="col-md-7 content-box hero-content">
              <span>زمانی کوردی</span>
              <h1>ماڵپەڕێک بۆ <b>شیکاری بۆچوونەکان</b></h1>

              <div class="testimonial-box l-box">
                <div style="margin-bottom: 10px"><small>نموونە</small></div>
                <div class="d-inline-block">
                  <div class="label-box l-positive">
                    ئەرێنی<img
                      style="height: auto; width: auto; padding-right: 3px"
                      class="img-fluid align-self-center"
                      src="{{ url_for('static', filename='images/checked.png') }}"
                      alt="Animated Image"
                    />
                  </div>
                  <div class="label-box l-negative">نەرێنی</div>
                  <div class="label-box l-neutral">بێلایەن</div>
                </div>
                <br />
                <input
                  type="text"
                  class="form-control d-field"
                  disabled
                  value="زۆر جوانە"
                />
              </div>
              <a
                href="#marketing"
                class="btn btn-regular"
                style="background-color: #636ee1"
                >زیاتر بزانە</a
              >
            </div>
          </div>
        </div>
      </section>

      <section id="marketing" class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <div class="content-box">
                <span>شیکاری بۆچوونەکان</span>
                <h2>دەربارەی ماڵپەڕ</h2>
                <p class="text-right">
                  ئەم ماڵپەڕە بەکاردێت بۆ دیاریکردن و جیاکردنەوەی ڕستەی ئەرێنی و
                  نەرێنی و بێلایەن لە ڕێگەی ژیری دەستکردەوە ، بەهیوای ئەوەی ببێتە سەرچاوەیەک بۆ توێژینەوەکانی دواتر کە دەکرێت لە داهاتوودا لەسەر زمانی کوردی بکرێت، و ببێتە سوودێک و
                  دەوڵەمەند کردنی زیاتری زمانی کوردی.
                </p>
                <a
                  href="#testimonials"
                  class="btn btn-regular"
                  style="background-color: #636ee1; margin-bottom: 20px"
                  >با دەست پێبکەین</a
                >
              </div>
            </div>
            <div class="col-md-7">
              <img
                class="img-fluid"
                src="{{ url_for('static', filename='images/s.png') }}"
              />
            </div>
          </div>
        </div>
      </section>

      <section id="testimonials" class="responsive-section section">
        <div class="container">
          <div class="title-block">
            <h2 style="text-align: center">بەشی ڕستە</h2>
            <p class="text-center">
              لێرە ئەو ڕستەیەی دەتەوێت بینووسە، لەڕێگەی ژیری دەسکردەوە
              ئەنجامەکەت پێدەڵێت. تێبینی: ئەم بەرهەمە لەژێر پەرەپێداندایە.
            </p>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="testimonial-box">
                <div class="row personal-info">
                  <div class="col-md-12">
                    <h6>ڕستەیەک بنووسە</h6>
                  </div>
                </div>
                <br />
                <form
                  id="inputForm"
                  action="/predict"
                  method="POST"
                  onsubmit="submitForm(event)"
                >
                  <div class="row">
                    <div class="col-md-12">
                      <textarea
                        id="inputText"
                        name="text"
                        class="form-control"
                        rows="5"
                        placeholder="نموونە: زۆر جوانە، کەسێکی ناشرینی، کەی بچین بۆ سەیران."
                      ></textarea>
                      <span
                        style="color: #6772e5; font-size: 15px"
                        id="clearText"
                        class="clear-icon"
                        onclick="clearTextArea()"
                        >| X</span
                      >
                    </div>

                    <div
                      class="col-md-12 button-analysis"
                      style="margin-top: 10px"
                    >
                      <button
                        type="submit"
                        id="submitButton"
                        class="btn btn-primary"
                        style="background-color: #636ee1"
                      >
                        <i
                          class="bi bi-clipboard-data"
                          style="padding-left: 2px; padding-right: 2px"
                        ></i
                        >شیکاری دەق
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="testimonial-box re">
                <div class="row personal-info">
                  <div class="col-md-12">
                    <h6 style="text-align: right">ئەنجام</h6>
                  </div>
                </div>

                <div id="result" class="p-3 rounded"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="test" class="responsive-section section">
        <div class="container">
          <div class="title-block">
            <h2 style="text-align: center">بەشی فایل</h2>
            <p class="text-center">
              لێرە ئەو فایلەی دەتەوێت دەتوانیت هەڵیبژێریت و بەشێوەی زیرەکی دەست
              کرد ئەنجامەکەت پێدەڵێت .
            </p>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="testimonial-box">
                <div class="row personal-info">
                  <div class="col-md-12">
                    <h6>فایلەکەت هەڵبژێرە</h6>
                  </div>
                </div>
                <br />
                <form
                  id="fileForm"
                  action="/predict_file"
                  method="POST"
                  enctype="multipart/form-data"
                  onsubmit="submitFileForm(event)"
                >
                  <div class="row">
                    <div class="col-md-8 col-sm-8 button-analysis">
                      <label for="customFile">
                        <i
                          class="nav-item nav-custom-link btn btn-demo-small"
                        ></i>
                        فایلەکەت هەڵبژێرە
                      </label>
                      <input
                        type="file"
                        class="form-control d-none"
                        name="file"
                        accept=".xlsx,.xls"
                        id="customFile"
                        onchange="showUploadBox()"
                      />
                      <hr />
                      <div id="uploadBox" class="d-none">
                        <p class="text-right">فایلت بە سەرکەوتوویی ھەڵبژێرا</p>
                        <span style="color: balck" id="fileName"></span>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-8 col-lg-8 mb-2">
                          <input
                            id="column"
                            name="column"
                            type="text"
                            class="form-control"
                            style="width: 100%; min-width: 0"
                            placeholder="ناوی ئەو کۆڵۆمەی ئەتەوێت..."
                          />
                        </div>
                      </div>
                    </div>

                    <div class="container">
                      <div class="row">
                        <div class="col-md-4 col-sm-4 button-analysis">
                          <button
                            type="submit"
                            class="btn btn-primary"
                            style="background-color: #636ee1"
                          >
                            <i
                              class="bi bi-file-arrow-down"
                              style="padding-left: 2px; padding-right: 2px"
                            ></i
                            >ئەنجامی ڕێکخستن
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <div id="div" class="p-3 rounded"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="testimonial-box">
                <div class="row personal-info">
                  <div class="col-md-12">
                    <h6 style="text-align: right">ئەنجام</h6>
                  </div>
                </div>

                <div id="table-container" class="mt-2"></div>

                <div id="download_link"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="pricing">
        <div class="container">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="font-weight-light text-right">ستاف</h2>
              <p class="text-right">
                لێرە ئەندامانی پەرەپێدەری ئەم ماڵپەڕە بناسە
              </p>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-dark rounded shadow-sm py-5 px-4">
                <img
                  width="100"
                  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                  src="{{ url_for('static', filename='images/peshraw.jpg') }}"
                  alt="پێشڕەو عبداللە"
                />
                <h5 class="mb-0 text-white">پێشڕەو عبداللە</h5>
                <span class="small text-uppercase text-info">سەرپەرشتیار</span>
                <ul style="direction: ltr" class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a
                      href="https://www.facebook.com/peshrawh?mibextid=ZbWKwL"
                      class="social-link text-white"
                      ><i class="fa fa-facebook-f"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-dark rounded shadow-sm py-5 px-4">
                <img
                  width="100"
                  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                  src="{{ url_for('static', filename='images/rawezh.jpg') }}"
                  alt="ڕاوێژ جەزا"
                />
                <h5 class="mb-0 text-white">ڕاوێژ جەزا</h5>
                <span class="small text-uppercase text-info">گەشەپێدەر</span>
                <ul
                  style="direction: ltr"
                  class="social mb-0 list-inline mt-3 text-center"
                >
                  <li class="list-inline-item">
                    <a
                      href="https://www.facebook.com/rawezh.0894?mibextid=ZbWKwL"
                      class="social-link text-white"
                      ><i class="fa fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://www.instagram.com/rawezh_0894/"
                      class="social-link text-white"
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://www.linkedin.com/in/rawezh-jaza-479005309?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                      class="social-link text-white"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-dark rounded shadow-sm py-5 px-4">
                <img
                  width="100"
                  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                  src="{{ url_for('static', filename='images/rozh.jpg') }}"
                  alt="ڕۆژ جەزا"
                />
                <h5 class="mb-0 text-white">ڕۆژ جەزا</h5>
                <span class="small text-uppercase text-info">گەشەپێدەر</span>
                <ul style="direction: ltr" class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a
                      href="https://www.facebook.com/profile.php?id=100039638389648&mibextid=ZbWKwL"
                      class="social-link text-white"
                      ><i class="fa fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Frozh-j-rasheed-b7853a309%3Futm_source%3Dshare%26utm_campaign%3Dshare_via%26utm_content%3Dprofile%26utm_medium%3Dios_app%26fbclid%3DIwZXh0bgNhZW0CMTAAAR1msmPmtWF-ewpFggQMTFkMqs-2-7HvUl0ldf-YYnwUXQb9SGSy4pqxx0Q_aem_Aa0UHOGG7D0DpDS8QzpuBfNSs97mmcQQA0nHo17L2mVUK0Z2aLPR_xxOTAouovh1MsKGY49jHf-a9SY36tanbRZY&h=AT1U5VieWh1e_ooD7FzPTX6GyD2nFTKMlTf1sNkUGviH_cCTZ-cG342nJpD3lzmwPUQXA6P0Ksr0GqbxO8At-eeyta0zIWWCBT8nEXndZVIKNgD9CsATdEoP6NEVGcsCP7v9RQ"
                      class="social-link text-white"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-dark rounded shadow-sm py-5 px-4">
                <img
                  width="100"
                  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                  src="{{ url_for('static', filename='images/danyar.jpg') }}"
                  alt="دانیار جونەید"
                />
                <h5 class="mb-0 text-white">دانیار جونەید</h5>
                <span class="small text-uppercase text-info">گەشەپێدەر</span>
                <ul style="direction: ltr" class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a
                      href="https://www.facebook.com/profile.php?id=100021951121739&mibextid=ZbWKwL"
                      class="social-link text-white"
                      ><i class="fa fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://www.instagram.com/danyar_junaed/"
                      class="social-link text-white"
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include 'footer.html' %}

    <script
      type="text/javascript"
      src="{{  url_for('static',filename='script/script.js') }}"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
